# Bỏ qua thư mục data và các file nén
data/*
!data/.gitkeep
*.zip
*.tar.gz

# Checkpoints mô hình và file trọng số nặng
*.pt
*.pth
*.onnx
runs/
checkpoints/
artifacts/

# Virtual Environment & Python cache
__pycache__/
*.py[cod]
.venv/
env/
venv/
.DS_Store
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/